*.log
*.dat
*.out
*.pid
*.gz
*.zip
*.tmp
.DS_Store
Thumbs.db

node_modules/
bower_components/
npm-debug.log

.cache/
.sass-cache/
.vagrant/

.idea/
/.project
atlassian-ide-plugin.xml
*.sublime-project
*.sublime-workspace

.yo-rc.json

doc-build/
/build/
/dist/

/test/visual/**/diff.png
*-test-results.xml
/xunit.xml
/checkstyle.xml
/checkstyle-jshint.xml
/checkstyle-jscs.xml
